@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
    font-family: 'Permanent Marker', cursive;
}

button {
    font-family: 'Permanent Marker', cursive;
}

header h1 {
    color: #f0eaea;
    font-size: 3em;
    text-align: center;
}

.container {
    width: 1200px;
    height: 692px;
    margin: 0 auto;
    padding: 10px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
}

.gameField {
    background: rgba(0, 0, 0, 0.3);
    height: 500px;
}

.gameField ul {
    list-style-type: none;
    margin: 0 auto;
    width: 420px;
}

#start {
    height: 50px;
    width: 150px;
    font-size: 1.5em;
    margin: 0 auto;
    display: block;
}
.gameField h2, .gameField p, .answers li{
    color: #ffffff;
    font-size: 2em;
    text-align: center;
}

.gameField h2 {
    font-size: 2em;
}

.gameField p, .answers li {
    font-size: 1,5em;
}

.answers li {
    font-weight: 700;
    margin: 10px;
}

.gameField img {
    margin: 0 auto;
    display: block;
}

.answers li:hover {
    outline: black 2px solid;
}