@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
    font-family: 'Permanent Marker', cursive;
}

button {
    font-family: 'Permanent Marker', cursive;
}

header h1 {
    color: #ffffff;
    font-size: 3em;
    text-align: center;
}

.container {
    width: 1200px;
    height: 692px;
    margin: 0 auto;
    padding: 10px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
}

.gameField {
    background: rgb(128, 128, 128, 0.5);
    height: 500px;
}

.gameField ul {
    list-style-type: none;
    margin: 0 auto;
    width: 300px;
}

#start {
    height: 50px;
    width: 150px;
    font-size: 1.5em;
    margin: 0 auto;
    display: block;
}
.question {
    color: #ffffff;
    font-size: 2em;
    text-align: center;
}

.answers li {
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 700;
    margin: 10px;
}

.answers li:hover {
    outline: black 2px solid;
}